/*Footer*/
/***************************************************/

footer{
	color: black;
	font-size: 20px;
	margin-top: 32px;
	height: 54px;
	display: flex;
	width: 75vw;
	padding-bottom: 24px;
	justify-content: center;
	align-items: center;
}

footer a{
	color: black;
	text-decoration: underline;
}


@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

	footer{
		color: black;
		font-size: 4vw;
		margin-top: 32px;
		height: 54px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90vw;
		padding-bottom: 24px;
	}
}
