/*Header*/
/***************************************************/
header{
	opacity: 0;
	animation: 0.5s ease-out fadeIn;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	width: 75vw;
	padding-top: 24px;
	display: flex;
	flex-direction: row-reverse;
}

header img{
	height: 36px;
	width: auto;
}

header h6{
	margin-left: 8px;
	color: lightgrey;
}

header h6:hover{
	color: black;
	transition: background 0.5s;
}


header a img{
	padding: 6px 6px;
	height: 14px;
	margin: auto 2px;
	opacity: 0.3;
}

header a img:hover{
	transition: background 0.5s;
	opacity: 1;
	/*background-color: #F0F0F0;
	border-radius: 12px;*/
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {


	header{
	opacity: 0;
	animation: 0.5s ease-out fadeIn;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	width: 90vw;
	display: flex;
	flex-direction: row-reverse;
	padding-top: 48px;
	padding-left: 48px;
	}


	header a img{
	padding: 6px 6px;
	height: 32px;
	margin: auto 12px;
	opacity: 0.3;
	}

}

