@font-face {
  font-family: "Lato";
  src: url(../Fonts/Lato-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

/*Colors*/
.white {
  color: white;
}

.mainColor {
  color: #7fb069; /*Green*/
}

.gBlue {
  color: #4285f4;
}

.discordBlue {
  color: #738adb;
}

.gRed {
  color: #db4437;
}

.gYellow {
  color: #f4b400;
}

.gGreen {
  color: #0f9d58;
}

.rbcBlue {
  color: #2e52a1;
}

.rogersRed {
  color: #ff0000;
}

/*Global*/
/***************************************************/
body {
  width: 90vw;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.5px;
  transition: background 1s;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body a {
  text-decoration: none;
}

p {
  font-style: normal;
}

/*Flexbox*/
/***************************************************/
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Intro*/
/***************************************************/
.intro {
  margin-top: -24px;
  text-align: center;
  height: 100vh;
  font-family: "Lexend Deca", sans-serif;
}

#me {
  opacity: 0;
  transform: translateY(30%);
  animation: 0.5s ease-out slideUp;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  height: 170px;
  margin-bottom: -16px;
  z-index: -1;
}

.intro h1 {
  font-size: 4vw;
  font-family: "Lexend Deca", sans-serif;
  background-color: white;
  animation: 2s ease-out fadeIn;
}

.intro a span:hover {
  opacity: 0.6;
}

.intro h5 {
  color: grey;
}

.intro p {
  font-family: "Nunito", sans-serif;
}

.intro-text {
  opacity: 0;
  animation: 2s ease-out fadeIn;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

.emoji {
  font-size: 20px;
}

/*Projects*/
/***************************************************/

.project-description {
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
  transition: 1s;
  max-width: 40vw;
}

/*Mobile*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-family: "Lato", sans-serif;
  }

  .flex-row {
    flex-direction: column-reverse;
  }

  /*Intro*/

  #fawzi {
    opacity: 0;
    transform: translateY(30%);
    animation: 0.5s ease-out slideUp;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    height: 30vw;
    margin-bottom: -16px;
    z-index: -1;
  }

  .intro .flex-column {
    justify-content: flex-start;
  }

  .intro h1 {
    font-size: 8vw;
    background-color: white;
    animation: 2s ease-out fadeIn;
  }

  .intro p {
    font-size: 3vw;
    font-family: "Lato";
  }

  .emoji {
    font-size: 50px;
    line-height: 3;
  }

  /*Project*/

  .project {
    height: 90vh;
    width: 90vw;
    justify-content: space-around;
  }

  .project h1 {
    width: 75vw;
    font-size: 6vw;
  }

  .project h3 {
    font-size: 4vw;
  }

  .project h4 {
    font-size: 4vw;
    width: 50vw;
  }

  .device-phone {
    height: 50vh;
  }

  .device-laptop {
    width: 75vw;
  }
}
