:root {
    --main-color: #222;
    --border-color: #888;
    --bg-color: #fff;
    --accent-color: #B00020;
    --small-text-color: #999;
    --button-disabled-color: #88888844;
    --transition-duration: 0.1s
}

.theme-light {
    --main-color: #222;
    --border-color: #888;
    --bg-color: #fff;
    --accent-color: #B00020;
    --small-text-color: #999;
    --button-disabled-color: #88888844;
}

.theme-dark {
    --main-color: #eee;
    --border-color: #888;
    --bg-color: #333;
    --accent-color: #B00020;
    --small-text-color: #666;
    --button-disabled-color: #77777744;
}

body{
	/* background: repeating-linear-gradient(45deg, #FF0A6C, #4A3CDB 15%, #f69d3c 20%); */
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
    color: var(--main-color);
    background-color: var(--bg-color);
    transition-property: background-color, color;
    transition-duration: var(--transition-duration);
    transition-timing-function: ease-in-out;
}

/* Line */
hr {
    width: 100%;
    border-top: 1px solid grey;
    border-bottom: none;
    margin: 0;
}

.content-area {
    width: 80vw;
    height: 90vh;
    max-width: 400px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .title {
    height: 25%;
    width: 150%;
    font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #D4AF37;
	letter-spacing: 6px;
	font-family: 'Press Start 2P', cursive;
	text-shadow:2px 2px #3498db;
	text-shadow: -2px 0 0 #fdff2a,
		-4px 0 0 #df4a42,
		2px 0 0 #91fcfe,
		4px 0 0 #4405fc;
	animation: blink 1s steps(4, start) infinite
}

@keyframes blink{
	to {
	visibility: hidden;
	}
}  

.button-area {
    height: 30%;
}

.game-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition-property: height;
    transition-duration: 0.5s;
    overflow: hidden;
    transition-timing-function: ease-in-out;
}

.new-game-area {
    /* height: 35%; */
    height: 0;
}

.join-game-area {
    /* height: 35%; */
    height: 0;
}

.lobby-area {
    /* height: 100%; */
    height: 0;
}

.gameplay-area {
    /* height: 100%; */
    height: 0;
}

li.selected {
	background: rgb(255, 20, 147);
}

p{
	top: 80%;
	text-align:center;
	font-size:18px;
}

.name{
	position: absolute;
	width: 99%;
}

#gamefont {
	color:rgba(66, 244, 220, 1);
	font-family: 'Press Start 2P', cursive;
    text-shadow:2px 2px #3498db;
    padding: 10px;
}

ul#horizontal {
	min-width: 6;
	list-style: none;
	padding-right: 12px;
	margin-right: 25px;
	}

ul#horizontal li {
	text-align: center;
}