div[id*="pcard"] .popover { 
	border-radius: 20px;
	border: 2px solid orange;
	width: 95px;
	height: 55px;
	left: -110px !important; 
}
div[id*="dcard"] .popover {
	border-radius: 20px;
	border: 2px solid orange;
	width: 105px;
	height: 55px;
	left: -120px !important; 
}

h3 {
	margin: 5px 0;
	text-align: center;
}

#game {
	border-radius: 5px;
	height: 350px;
	margin: 0 auto;
	position: relative;
	width: 1000px;
}

div#dscore {
	position: absolute;
	bottom: 30px;
}

div#pscore {
	position: absolute;
	bottom: 15px;
}

div#phand, div#dhand {
	font-weight: 700;
	/*left: 50%;*/
	position: absolute;
	top: -140px;
	white-space: nowrap;
	width: 1000px;
}

div#phand { }

div#dhand { }

div[class*="card"] {
	background: #FFF;
	border: 6px solid #FFF;
	border-radius: 5px;
	box-shadow: 0 0 1px #000;
	display: inline-block;
	height: 90px;
	width: 70px;
	margin: 0 5px;
	position: absolute;
	right: 0;
}

.down {
	background: #B20000 url('./card2.png') center center no-repeat !important;
}

span.pos-0 {
	left: 0;
	position: absolute;
	top: 0;
}

span.pos-1 {
	bottom: 0;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	position: absolute;
	right: 0;
	transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

span.rank {
	font-size: 18px;
}

span.suit {
	font-size: 22px;
}

.black {
	color: black;
}

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

.yellow {
	color: goldenrod;
}

#result {
	position: absolute;
	bottom: 0;
}

#actions {
	margin: 15px 0 0 0;
    text-align: center;
}

#actionButtons{
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

#money, #money:before {
	border-radius: 5px;
	bottom: 0;
	height: 55px;
	padding: 7px;
	position: absolute;
	right: 0;
	width: 250px;
}

#money {
	border: 2px solid #FFC926;
}

#money:before {
	background: #333;
	content: '';
	opacity: 0.8;
}

#cash, #bank {
	color: gold;
	font-family: 'Press Start 2P', cursive;
	text-shadow:2px 3px goldenrod;
	font-size: 20px;
	padding: 10px;
	margin: 12px 0;
	position: relative;
	z-index: 1;
}

.lottery{
	color: rgb(28, 185, 185);
	font-family: 'Press Start 2P', cursive;
	margin: 8px;
	padding: 3px;
	position: relative;
	z-index: 1;
	animation: blink 1s steps(4, start) infinite
}

.playing{
	color: rgb(44, 201, 44);
	text-shadow: 2px 2px green;
	font-family: 'Press Start 2P', cursive;
	margin: 8px;
	padding: 3px;
	position: relative;
	z-index: 1;
}

.won{
	color: goldenrod;
	font-family: 'Press Start 2P', cursive;
	text-shadow:2px 3px rgb(255, 30, 0);
	margin: 8px;
	padding: 3px;
	position: relative;
	z-index: 1;
	animation: blink 1s steps(4, start) infinite
}

.lost{
	color: rgb(175, 174, 174);
	font-family: 'Press Start 2P', cursive;
	text-shadow:1px 1px rgb(94, 93, 93);
	margin: 8px;
	padding: 3px;
	position: relative;
	z-index: 1;
}

.tie{
	color: black;
	font-family: 'Press Start 2P', cursive;
	margin: 8px;
	padding: 3px;
	position: relative;
	z-index: 1;
}

@keyframes blink{
	to {
	    visibility: hidden;
	}
}  

#newGame{
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
}

#deal{
    width:60px;
    height:50px;
    background-color: rgb(163, 5, 163);
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
}

#hit{
    width:190px;
    height:50px;
    background-color: rgb(4, 192, 29);
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
}

#stand{
    width:65px;
    height:50px;
    background-color: rgb(223, 12, 5);
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
}

#wager{
    margin-top: 8px;
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
	width: 15%;
}

input#wager { margin-left: 5px; position: relative;}


#bet{
	font-family: 'Press Start 2P', cursive;
	font-size: 11px;
	margin-left: 10px;
}

#alert {
	margin: 0 auto;
	opacity: 0.95;
	position: relative;
	text-align: center;
	top: 4.5%;
	width: 500px;
	z-index: 0;
	background: #088A68;
	color: whitesmoke;
}

@keyframes rotate {
	100% {
		transform: rotate(2turn);
	}
}

@media (max-width: 480px) {

    #actions{
        display: flex;
        flex-direction: column;
    }

    #deal{
        height:30px;
    }
    
    #hit{
        height:30px;
    }
    
    #stand{
        height:30px;
    }
    
}