#maintenance {
	color: rgb(219, 161, 89);
	font-family: 'Press Start 2P', cursive;
	text-shadow:2px 2px #57520c;
}

#gamefont {
	color:rgba(66, 244, 220, 1);
	font-family: 'Press Start 2P', cursive;
    text-shadow:2px 2px #3498db;
    padding: 5px;
}

#gamefont2 {
	color:rgba(138, 43, 226);
	font-family: 'Press Start 2P', cursive;
    text-shadow:2px 2px #3498db;
    padding: 5px;
}

#chatareafont {
	color:rgb(138, 31, 132);
	text-indent: 30px;
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
	padding: 2px;
}

.cameraareafont{
	color: white;
	font-family: 'Press Start 2P', cursive;
	font-size: 14px;
}

#aboutareafont {
	color:orange;
	font-family: 'Press Start 2P', cursive;
    text-shadow:1px 1px purple;
}

#aboutareafont2 {
	color:purple;
	font-family: 'Press Start 2P', cursive;
    text-shadow:2px 2px lightblue;
	font-size: 15px;
}

#aboutareafont3 {
	color:lightgreen;
	font-family: 'Press Start 2P', cursive;
	font-size: 14px;
}

#creditareafont{
	color: rgb(157, 241, 157);
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
}

@media (min-height: 652px) {
	#aboutareafont{
		font-size: 14px;
	}
	#aboutareafont2 {
		font-size: 13px;
	}
	#aboutareafont3 {
		font-size: 10px;
	}
	#chatareafont {
		font-size: 13px;
	}
	#gamefont {
		color:rgba(66, 244, 220, 1);
		font-family: 'Press Start 2P', cursive;
		text-shadow:2px 2px #3498db;
		padding: 10px;
	}
}